@import "./font.css";
@use "./common.scss" as *;

#header {
  .header_top {
    margin-top: 35px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    > h1 {
      font-size: 18px;
      font-family: 'appleSDGothicNeoM', sans-serif;
    }
    .header_top_right {
      position: relative;
      display: flex;
      align-items: center;
      > i {
        position: relative;
        display: block;
        width: 10px;
        height: 10px;
        background: #fbb90d;
        border-radius: 50%;
        &::before {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          background: #fbb90d;
          margin-left: -12px;
          margin-top: -12px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          animation: wave 1.5s infinite linear;
        }
        @keyframes wave {
          0% {
            transform: scale(0);
            opacity: 1;
          }
          100% {
            transform: scale(2.5);
            opacity: 0;
          }
        }
      }
      > span {
        margin-left: 10px;
        display: block;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .header_main {
    position: relative;
    margin-top: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 769px) { @include fade-in-up(0.2s); }
    .header_main_left {
      span {display: block;}
      .greet {
        font-size: 35px;
        font-weight: bold;
        opacity: 0.9;
      }
      .name {
        margin-top: 10px;
        font-size: 50px;
        font-weight: bold;
        > span {
          position: relative;
          display: inline-block;
          padding-left: 35px;
          padding-right: 40px;
          font-size: 50px;
          color: #fbb90d;
          &::before, &::after{
            content: '';
            position: absolute;
            top: 0;
            display: block;
            width: 30px;
            height: 30px;
            background: url('../assets/images/quotes.png') no-repeat center;
            background-size: contain;
          }
          &::before {left: 0;}
          &::after {
            right: 5px;
            transform: rotate(180deg);
          }
        }
      }
      .intro {
        margin-top: 15px;
        font-size: 22px;
      }
      .info_list {
        margin-top: 35px;
        color: #4e4e4e;
        li {
          padding-left: 15px;
          position: relative;
          font-size: 20px;
          &::before {
            content: '';
            position: absolute;
            top: 45%;
            left: 0;
            transform: translateY(-50%);
            display: block;
            width: 5px;
            height: 20px;
            background: #fbb90d;
          }
          & + li {margin-top: 10px;}
          > span {
            display: inline-block;
            font-family: appleSDGothicNeoM;
          }
        }
      }
    }
    > i {
      display: block;
      width: 300px;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

#body {
  .title {
    display: block;
    margin-left: -20px;
    color: #fbb90d;
    font-size: 60px;
    font-family: daughterOfFortune;
    font-weight: normal;
    i {
      display: inline-block;
      padding-left: 15px;
      color: #4e4e4e ;
      font-size: 12px;
    }
    span {
      position: relative;
      top: 10px;
      display: inline-block;
      &.bounce {animation: bounce .3s ease 2 alternate ;}
    }
    span:first-child {width: 50px;}
    span:nth-child(2) {width: 2px; animation-delay: .1s;}
    span:nth-child(3) {width: 25px; animation-delay: .2s;}
    span:nth-child(4) {width: 32px; animation-delay: .3s;}
    span:nth-child(5) {width: 55px; animation-delay: .4s;}
    span:nth-child(6) {width: 2px; animation-delay: .5s;}
    span:nth-child(7) {width: 2px; animation-delay: .6s;}
    span:nth-child(8) {width: 2px; animation-delay: .7s;}
    @keyframes bounce {
      100% {top: -10px;}
    }
  }
  > div {
    margin-top: 50px;
    padding: 0 20px;
  }

  // SkillSet
  .skillSet {
    @media screen and (min-width: 769px) { @include fade-in-up(0.4s); }
    > ul {
      margin-top: 10px;
      li {
        margin-top: 10px;
        height: 38px;
        > p {
          display: inline-block;
          margin-right: 10px;
          font-size: 18px;
          font-family: appleSDGothicNeoM;
        }
        i {
          padding: 7px 14px;
          font-size: 18px;
          font-style: normal;    
          background: #f2f2f2;
          border-radius: 5px;
          & + i {margin-left: 5px;;}
        }
      } 
    } 
  }

  // Experience
  .experience {
    @media screen and (min-width: 769px) { @include fade-in-up(0.6s); }
    > ul {
      margin-top: 30px;
      li {
        span {display: block;}
        .exp_name {
          font-size: 20px;
          font-family: 'appleSDGothicNeoM';
        }
        .exp_term {
          margin-top: 5px;
          padding-left: 25px;
          color: #4e4e4e;
        }
        & + li {margin-top: 25px;}
      }
    }
  }
  
  // Projects
  .projects {
    ul {
      position: relative;
      padding: 20px 0 0 20px;
      &::before, &::after {
        content: '';
        position: absolute;
        left: 10px;
        display: block;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 5px solid #fbb90d;
        border-radius: 50%;
      }
      &::after {bottom: 0;}
      > li {
        padding: 40px;
        border-left: 5px solid #fbb90d;
        & + li {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            top: -15px;
            left: -15px;
            display: block;
            width: 16px;
            height: 16px;
            background: #fff;
            border: 5px solid #fbb90d;
            border-radius: 50%;
          }
        }
        span {display: block;}
        .prj_name {
          font-size: 22px;
          font-family: appleSDGothicNeoB;
        }
        .prj_skill {
          margin-top: 8px;
          i {
            padding: 3px 6px;
            color: #fff;
            font-size: 14px;
            font-style: normal;
            background: #6c757d;
            border-radius: 5px;
          }
        }
        ol {
          margin-top: 30px;
          li {
            position: relative;
            padding-left: 15px;
            color: #4e4e4e;
            font-size: 17px;
            line-height: 1.5;
            word-break: keep-all;
            & + li {margin-top: 5px;}
            &::before {
              content: '-';
              position: absolute;
              left: 0;
            }
          }
        }
        .show_area {
          color: #4e4e4e;
          margin-top: 20px;
          span {
            display: inline-block;
            > i {
              font-style: normal;
              font-family: appleSDGothicNeoM;
            }
            > button {
              padding: 5px 15px;
              color: #fff;
              font-size: 17px;
              background: #FB990D;
              border: none;
              border-radius: 5px;
              cursor: pointer;
            }
            > a {
              color: #fb990d;
              font-size: 15px;
              text-decoration: underline;
              &:visited {color: #fb710d;}
              &:hover {text-decoration: none;}
            }
            &:nth-child(2) {
              position: relative;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}   

// How I Work
.how_i_work {
  ul {
    margin-top: 25px;
    li {
      font-size: 20px;
      & + li {margin-top: 15px;}
    }
  }
}

#footer {
  padding: 50px;
  text-align: right;
  .closing {
    font-size: 18px;
    > span:first-child {
      box-shadow: inset 0 -10px 0 rgba(249, 178, 148, 0.4); 
    }
    .copyright {
      display: block;
      margin-top: 5px;
      color:#6c757d;
      font-size: 15px;
    }
  }
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  transition: 0.3s ease-out;
  &.remove {
    visibility: hidden;
    opacity: 0;
  }
  .modal_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .modal_cont {
      width: 380px;
      height: 650px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 10px;
        background: #e4e4e4;
        overflow: hidden;
      }
      &::-webkit-scrollbar-thumb {background: #c1c1c1;}
      &.wide_type_first {width: 1300px;}
      &.wide_type_second {
        width: 1300px;
        height: auto;
        overflow: hidden;
      }
      img {width: 100%;}
    }
  }
  .btn_area > button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    font-family: 'appleSDGothicNeoB';
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    &:first-child {
      left: -60px;
      > img {transform: rotate(180deg);}
    }
    &:last-child {right: -60px;}
    > img {width: 40px;}
    &.display {display: none;}
  }
  .close_btn {
    position: absolute;
    right: -50px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background: #fff;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: auto;
    > div {margin-top: 20px;}
  }

  #header {
    .header_top {
      margin: 20px 20px 0;
      padding: 0 5px;
      border-top: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.8);
      > h1 {font-size: 16px;}
      .header_top_right > span {font-size: 16px;}
    }
    .header_main {
      display: block;
      margin-top: 20px;
      .header_main_left {
        padding-top: 280px;
        .greet {
          font-size: 30px;
          text-align: center;
        }
        .name {
          margin-top: 5px;
          font-size: 27px;
          text-align: center;
          > span {
            padding: 0 25px 0 27px;
            font-size: 30px;
            &::before {
              left: 5px;
              width: 20px;
              height: 20px;
            }
            &::after {
              right: 5px;
              width: 20px;
              height: 20px;;
            }
          }
        }
        .intro {
          margin-top: 15px;
          font-size: 17px;
          text-align: center;
          > i {
            display: block;
            font-style: normal;
          }
        }
        .info_list {
          margin-top: 40px;
          text-align: center;
          li {
            font-size: 16px;
            &::before {
              content: none;
            }
            span {
              position: relative;
              padding-left: 10px;
              &::before{
                content: '·';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
      > i {
        position: absolute;
        top: 0;
        left: 50%;
        width: 250px;
        height: 250px;
        transform: translateX(-50%);
      }
    }
  }

  #body {
    padding: 0 10px;
    .title {
      margin-left: 0;
      font-size: 45px;
      i {
        margin-top: 15px;
        padding-left: 0;
      }
      span:first-child {width: 38px;}
      span:nth-child(3) {width: 17px;}
      span:nth-child(4) {width: 25px;}
      span:nth-child(5) {width: 40px;}
    }

    // SkillSet
    .skillSet {
      ul {
        li {
          height: auto;
          p {
            display: block;
            margin: 0 10px 5px 0;
          }
          i {
            display: inline-block;
            margin: 10px 8px 0 0;
            padding: 5px 10px;
            font-size: 15px;
            & + i {margin-left: 0;}
          }
          &:last-child {
            margin-top: 30px;
          }
        }
      }
    }

    // experience
    .experience {
      > ul li{
        .exp_name {font-size: 16px;}
        .exp_term{
          padding-left: 0;
          font-size: 15px;
          &::before {
            content: ': '
          }
        }
      } 
    }

    // Projects
    .projects {
      ul {
        padding: 10px;
        &::before, &::after {left: 0;}
        > li {
          padding: 30px 0 30px 25px;
          .prj_name { font-size: 19px; }
          .prj_skill {
            margin-top: 10px;
            i {
              display: inline-block;
              margin-top: 6px;
              margin-right: 3px;
            }
          }
          ol {
            margin-top: 20px;
            li {font-size: 15px;}
          }
          .show_area{
            display: block;
            margin-top: 15px;
            span {
              font-size: 15px;
              > button {
                padding: 5px 10px;
                font-size: 15px;
                & + button {
                  margin-left: 5px;
                  margin-right: 0;
                }
              }
              > a, a:visited{
                display: inline-block;
                word-break: break-all;
              }
              &:nth-child(2) {margin: 5px 0 0 0;}
              &.long_link {
                display: flex;
                > i {flex-basis: 80px;}
              }
            }
          } 
        }
      }
    }
  }

  // How I Work
  .how_i_work {
    ul li {
      margin-left: 20px;
      text-indent: -20px;
      font-size: 16px;
      & + li {
        margin-top: 10px;
        line-height: 1.6;
      }
    }
  }

  #footer {
    padding: 50px 30px 30px;
    .closing {
      font-size: 16px;
      .copyright {font-size: 14px;}
    }
  }

  #modal{
    top: -20px;
    .modal_wrap{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: none;
      .modal_cont {
        width: 100%;
        height: 100%;
        &.wide_type_first, &.wide_type_second {width: inherit;}
        &.wide_type_second {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .btn_area > button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 0;
      border: 1px solid #e4e4e4;
      &:first-child {left: 13px;}
      &:last-child {
        left: auto;
        right: 18px;
      }
      > img {width: 40px;}
    }
    .close_btn {
      top: 8px;
      right: 18px;
      width: 30px;
      height: 30px;
      border: 1px solid #e4e4e4;
      &.position {right: 8px;}
    }
  } 
}